body{
    background-color: rgb(170, 192, 199);
    margin: 10px;
    font-family: futura;
}


.main-header {
    background-color: rgb(230, 230, 230);
    text-align: center;
    height: 60px;
    font-size: 40px; 
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;

}

.title-input{
    margin-bottom: 10px;
    height: 25px;
    border-radius: 5px; 
}

.note-input{
    resize: none;
    height:300px;
    margin-bottom: 10px;
    border-radius: 5px; 

}

.submit-button{
    width: 150px; 
    background-color:darkgrey; 
    border-radius: 5px;
    cursor: pointer;
    font-family: futura;
    color: white; 
}

.noteform-container{
    display: flex;
    flex-direction: column;
    width: 300px; 
}

/* Note.jsx */

.notes-container{
    background-color:white;
    width: 300px;
    font-family: Futura; 
    border-radius: 5px;
    min-height: 200px; 
    border: 1px solid; 
    box-shadow: 5px 5px 5px;
    word-wrap:break-word;
    position: relative;
}

.notes-title{
    text-align: center;
}


.notes-content{
    margin-left: 12px;
    margin-right: 12px; 
    font-family: Arial, Helvetica, sans-serif;
}
.notes-delete-button{
    cursor: pointer;
    background-color: rgb(211, 71, 71);
    padding: 5px 10px; 
    border: none;
    border-radius: 5px;
    color: white; 
    font: futura;
    position: absolute;
    bottom: 10px;
    right: 10px;
}


.notes-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 70px; 
    grid-auto-flow: minmax(250px, auto);
}
